# Server
PORT=3000

# Database
DATABASE_URL=

# Auth
BETTER_AUTH_SECRET=   # openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000

# Anthropic
ANTHROPIC_API_KEY=

# Postmark
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=
